.hero-video {
    -o-object-fit: cover;
       object-fit: cover; /* Cover the area, cropping if necessary */
    z-index: -1; /* Behind other content */
  }
  
  ul {
    gap: clamp(0.5rem, 5vw, 7.625rem);
  
    li {
      list-style-type: none;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: $espacamento-02;
  
      a {
        text-decoration: none;
        transition: background-color 0.6s ease;
        border-radius: 10px;
  
        &:hover {
          background-color: $cor_secundaria;
        }
      }
    }
  }
  
  .custom-toggler {
    border-color: rgba(255, 255, 255, 1) !important; // Set the border color to white
  
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  
    &:focus {
      outline: 2px solid rgb(255, 255, 255) !important; // Set the focus outline to red with a thickness of 2px
      box-shadow: none !important; // Optional: Remove any box shadow if you don't want additional effect
    }
  }
  
  .hero-content {
    padding-top: 140px;
    letter-spacing: $espacamento-02;
    gap: 15px;
  
    h1 {
      font-size: 55px;
      font-weight: 600;
    }
  
    p {
      font-size: 30px;
      font-weight: 200;
    }
  
    a {
      background-color: $cor_secundaria;
      border-radius: 10px;
      padding: 15px 20px;
      font-size: 20px;
      font-weight: 600;
    }
  }

  @media (max-width: 600px) {
    .hero-content h1 {
      width: 100%;
    }
}
